h1, h2 {
    text-align: center;
    font-variant: small-caps;
    margin-top: 1em;
    margin-bottom: 1em;
}
p.comment {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 8em;
    font-size: 0.9em;
    font-style: italic;
}
p.noindent {
    text-indent: 0px;
}

